
.Todo{
    display: flex;
    
    border: 1px solid black;
    justify-content:space-between;
    height: 30px;
    margin: 7px 0px;
    border-radius: 5px;
}
.label{
    width: 95%;
    margin: 0.4%;
    
}
.button{ 
    background-color: red;
    color: white;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin: 5px;
    border-color: red;
}
.checked{
    text-decoration: line-through;
    text-decoration-color: solid black;
}
.xc{
    width: 15%;
    margin: 5px;
}
